*{
	box-sizing: border-box;
}
@font-face {
	font-family: 'ProximaNovaRegular';
	src: url('./ProximaNovaRegular.eot');
	src: local('ProximaNovaRegular'), url('./ProximaNovaRegular.woff') format('woff'), url('./ProximaNovaRegular.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_58703">Text with this font applied</p> */
.fontsforweb_fontid_58703 {
	font-family: 'ProximaNovaRegular' !important;
}
.header-sec{
	padding: 0;
}
.header-text{
	font-family: "Lato", sans-serif;
	font-weight: 400;
	padding: 12px 24px 12px 24px;
	letter-spacing: 10px;
	background-color: #000!important;
	color: #fff!important;
	font-size: 24px;
}
.mn-im{
	width: 100%;
	height: 100%;
}
.sec-text{
	margin-top: 50px;
	width: 100%;
	height: auto;
	padding: 5px 5px 20px 5px;
}
.about-head{
	text-align: center;
	margin: 0px 0px 0px 0px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #777;
	line-height: 1.8;
}
.about-txt{
	text-align: center;
	margin: 0px 0px 5px 0px;
	font-family: "Lato", sans-serif;
	font-style: italic;
	font-size: 15px;
	color: #777;
	line-height: 1.8;
}
.about-txt1{
	width: 100%;
	height: auto;
	padding: 10px;
}
.about-txt2{
	font-family: font-family: "Lato", sans-serif;
	font-size: 15px;
	color: #000;
	line-height: 1.8;
	text-align: justify;
}
.abt-im{
	max-width: 80%;
	height: auto;
	cursor: pointer;
}
	

.collection{
	width: 100%;
	height: auto;
	margin-top: 50px;
}

.c-im{
	width: 5%;
	height: auto;
	object-fit: cover;
}
.cont-txt{
	font-size: 18px!important;
	color: #000!important;
	font-weight: 449;
	padding-left: 20px;
}
.footer{
	width: 100%;
	height: auto;
}
.form{
	width: 40%;
	padding-left: 5px;
	padding-right: 5px;
	margin: 5px;
	border: 1px solid #ccc!important;
}
.submit{
	margin-top: 10px;
	margin-left: 5px;
	text-align: right;
	background-color: #000!important;
	color: #fff!important;
	padding-left: 15px;
	padding-right: 15px;
	border: none;
}
@media (min-width : 320px){
	.header{
		width: 100%;
		height: auto;
		background-color: #fff!important;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	}
	.navbar-brand{
		font-family: "Lato", sans-serif;
		color: #000!important;
		font-size: 15px;
		line-height: 1.5;
		letter-spacing: 4px;
		padding: 0px !important;		
	}
	.nav-link{
		/*color: #4b4b4b;*/
		font-family: "Lato", sans-serif;
		color: #000!important;
		font-size: 15px;
		line-height: 1.5;
		letter-spacing: 0px;
		text-transform: capitalize;	
	}
	.nav-item{
		padding: 0px !important;
	}
	.navbar-brand:hover{
		background-color: #ccc !important;
		color: #000!important;
	}
	.nav-link:hover{
		background-color: #ccc !important;
		color: #000!important;
	}
	.header-detail{
		text-align: center;
		width: 100%;
		height: auto;
		bottom: 40%;
		position: absolute;
		cursor: pointer;
	}
	.sec-text1{
		width: 100%;
		height: auto;
		padding: 10px;
		text-align: center;
	}
	.port-txt{
		width: 100%;
		height: auto;
		text-align: center;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		padding: 12px 24px 12px 24px;
		letter-spacing: 10px;
		color: #fff!important;
		font-size: 34px;
		line-height: 1.8;
		bottom: 50%;
		position: absolute;
		cursor: pointer;
	}
	.con-txt{
		width: 100%;
		height: auto;
		text-align: center;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		padding: 12px 24px 12px 24px;
		letter-spacing: 10px;
		color: #fff!important;
		font-size: 34px;
		line-height: 1.8;
		bottom: 20%;
		position: absolute;
		cursor: pointer;
	}
	.coll-im{
		margin-top: 20px;
		margin-left: 5px;
		width: 95%;
		height: auto;
		padding: 10px;
		text-align: center;
	}
	.cl-im{
		width: 90%;
		height: auto;
		object-fit: cover;
		cursor: pointer;
	}
	.contact-detail{
		width: 95%;
		height: auto;
		margin: 20px 0px 0px 0px;
		padding: 10px;
		background-color: #fff!important;
	}
	.cont-im{
		width: 90%;
		height: auto;
		text-align: left;
		padding: 5px;
		margin-left: 20px;
	}
}
@media (min-width: 480px){
	.header{
		width: 100%;
		height: auto;
		background-color: #fff!important;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	}
	.navbar-brand{
		font-family: "Lato", sans-serif;
		color: #000!important;
		font-size: 15px;
		line-height: 1.5;
		letter-spacing: 4px;
		padding: 0px !important;		
	}
	.nav-link{
		/*color: #4b4b4b;*/
		font-family: "Lato", sans-serif;
		color: #000!important;
		font-size: 15px;
		line-height: 1.5;
		letter-spacing: 0px;
		text-transform: capitalize;	
	}
	.nav-item{
		padding: 0px !important;
	}
	.navbar-brand:hover{
		background-color: #ccc !important;
		color: #000!important;
	}
	.nav-link:hover{
		background-color: #ccc !important;
		color: #000!important;
	}
	.header-detail{
		text-align: center;
		width: 100%;
		height: auto;
		bottom: 40%;
		position: absolute;
		cursor: pointer;
	}
	.sec-text1{
		width: 100%;
		height: auto;
		padding: 10px;
		text-align: center;
	}	

	.port-txt{
		width: 100%;
		height: auto;
		text-align: center;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		padding: 12px 24px 12px 24px;
		letter-spacing: 10px;
		color: #fff!important;
		font-size: 34px;
		line-height: 1.8;
		bottom: 50%;
		position: absolute;
		cursor: pointer;
	}
	.con-txt{
		width: 100%;
		height: auto;
		text-align: center;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		padding: 12px 24px 12px 24px;
		letter-spacing: 10px;
		color: #fff!important;
		font-size: 34px;
		line-height: 1.8;
		bottom: 20%;
		position: absolute;
		cursor: pointer;
	}
	.coll-im{
		margin-top: 20px;
		margin-left: 5px;
		width: 95%;
		height: auto;
		padding: 10px;
		text-align: center;
	}
	.cl-im{
		width: 90%;
		height: auto;
		object-fit: cover;
		cursor: pointer;
	}
	.contact-detail{
		width: 95%;
		height: auto;
		margin: 20px 0px 0px 0px;
		padding: 10px;
		background-color: #fff!important;
	}
	.cont-im{
		width: 90%;
		height: auto;
		text-align: left;
		padding: 5px;
		margin-left: 20px;
	}
}
@media (min-width: 576px){
	.header{
		width: 100%;
		height: 53px;
		background-color: #fff!important;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	}
	.navbar-brand{
		font-family: "Lato", sans-serif;
		color: #000!important;
		font-size: 15px;
		line-height: 1.5;
		letter-spacing: 4px;
		padding-top: 8px !important;
		padding-right: 16px !important;
		padding-bottom: 8px !important;
		padding-left: 16px !important;
		
	}
	.nav-link{
		/*color: #4b4b4b;*/
		font-family: "Lato", sans-serif;
		color: #000!important;
		font-size: 15px;
		line-height: 1.5;
		letter-spacing: 0px;
		text-transform: capitalize;	
	}
	.nav-item{
		padding: 8px 8px 8px 8px!important;
	}
	.navbar-brand:hover{
		background-color: #ccc !important;
		color: #000!important;
	}
	.nav-link:hover{
		background-color: #ccc !important;
		color: #000!important;
	}
	.header-detail{
		text-align: center;
		width: 100%;
		height: auto;
		bottom: 40%;
		position: absolute;
		cursor: pointer;
	}
	.sec-text1{
		width: 90%;
		height: auto;
		padding: 5px 5px 20px 5px;
		text-align: right;
	}
	.port-txt{
		width: 100%;
		height: auto;
		text-align: center;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		padding: 12px 24px 12px 24px;
		letter-spacing: 10px;
		color: #fff!important;
		font-size: 34px;
		line-height: 1.8;
		bottom: 50%;
		position: absolute;
		cursor: pointer;
	}
	.con-txt{
		width: 100%;
		height: auto;
		text-align: center;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		padding: 12px 24px 12px 24px;
		letter-spacing: 10px;
		color: #fff!important;
		font-size: 34px;
		line-height: 1.8;
		bottom: 20%;
		position: absolute;
		cursor: pointer;
	}
	.coll-im{
		margin-top: 20px;
		margin-left: 5px;
		width: 95%;
		height: auto;
		padding: 10px 0px 10px 0px;
		text-align: left;
	}
	.cl-im{
		width: 100%;
		height: auto;
		object-fit: cover;
		cursor: pointer;
	}
	.contact-detail{
		width: 95%;
		height: auto;
		margin: 50px 0px 30px 0px;
		padding: 10px 0px 50px 0px;
		background-color: #fff!important;
	}
	.cont-im{
		width: 90%;
		height: auto;
		text-align: left;
		padding: 5px;
		margin-left: 20px;
	}
}
@media (min-width: 768px){
	.header{
		width: 100%;
		height: 53px;
		background-color: #fff!important;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	}
	.navbar-brand{
		font-family: "Lato", sans-serif;
		color: #000!important;
		font-size: 15px;
		line-height: 1.5;
		letter-spacing: 4px;
		padding-top: 8px !important;
		padding-right: 16px !important;
		padding-bottom: 8px !important;
		padding-left: 16px !important;
		
	}
	.nav-link{
		/*color: #4b4b4b;*/
		font-family: "Lato", sans-serif;
		color: #000!important;
		font-size: 15px;
		line-height: 1.5;
		letter-spacing: 0px;
		text-transform: capitalize;	
	}
	.nav-item{
		padding-top: 8px !important;
		padding-right: 16px !important;
		padding-bottom: 8px !important;
		padding-left: 16px !important;
	}
	.navbar-brand:hover{
		background-color: #ccc !important;
		color: #000!important;
	}
	.nav-link:hover{
		background-color: #ccc !important;
		color: #000!important;
	}
	.header-detail{
		text-align: center;
		width: 100%;
		height: auto;
		bottom: 50%;
		position: absolute;
		cursor: pointer;
	}
	.sec-text1{
		width: 90%;
		height: auto;
		padding: 5px 5px 20px 5px;
		text-align: right;
	}
	.port-txt{
		width: 100%;
		height: auto;
		text-align: center;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		padding: 12px 24px 12px 24px;
		letter-spacing: 10px;
		color: #fff!important;
		font-size: 34px;
		line-height: 1.8;
		bottom: 50%;
		position: absolute;
		cursor: pointer;
	}
	.con-txt{
		width: 100%;
		height: auto;
		text-align: center;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		padding: 12px 24px 12px 24px;
		letter-spacing: 10px;
		color: #fff!important;
		font-size: 34px;
		line-height: 1.8;
		bottom: 20%;
		position: absolute;
		cursor: pointer;
	}
	.coll-im{
		margin-top: 20px;
		margin-left: 5px;
		width: 95%;
		height: auto;
		padding: 10px 0px 10px 0px;
		text-align: left;
	}
	.cl-im{
		width: 100%;
		height: auto;
		object-fit: cover;
		cursor: pointer;
	}
	.contact-detail{
		width: 90%;
		height: auto;
		margin: 50px 0px 50px 0px;
		padding: 10px 0px 50px 0px;
		background-color: #fff!important;
	}
	.cont-im{
		width: 80%;
		height: auto;
		text-align: left;
		padding: 5px;
		margin-left: 100px;
	}
}
@media (min-width: 992px){
	.header{
		width: 100%;
		height: 53px;
		background-color: #fff!important;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	}
	.navbar-brand{
		font-family: "Lato", sans-serif;
		color: #000!important;
		font-size: 15px;
		line-height: 1.5;
		letter-spacing: 4px;
		padding-top: 8px !important;
		padding-right: 16px !important;
		padding-bottom: 8px !important;
		padding-left: 16px !important;
		
	}
	.nav-link{
		/*color: #4b4b4b;*/
		font-family: "Lato", sans-serif;
		color: #000!important;
		font-size: 15px;
		line-height: 1.5;
		letter-spacing: 0px;
		text-transform: capitalize;	
	}
	.nav-item{
		padding-top: 8px !important;
		padding-right: 16px !important;
		padding-bottom: 8px !important;
		padding-left: 16px !important;
	}
	.navbar-brand:hover{
		background-color: #ccc !important;
		color: #000!important;
	}
	.nav-link:hover{
		background-color: #ccc !important;
		color: #000!important;
	}
	.header-detail{
		text-align: center;
		width: 100%;
		height: auto;
		bottom: 50%;
		position: absolute;
		cursor: pointer;
	}
	.sec-text1{
		width: 90%;
		height: auto;
		padding: 5px 5px 20px 5px;
		text-align: right;
	}
	.port-txt{
		width: 100%;
		height: auto;
		text-align: center;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		padding: 12px 24px 12px 24px;
		letter-spacing: 10px;
		color: #fff!important;
		font-size: 34px;
		line-height: 1.8;
		bottom: 50%;
		position: absolute;
		cursor: pointer;
	}
	.con-txt{
		width: 100%;
		height: auto;
		text-align: center;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		padding: 12px 24px 12px 24px;
		letter-spacing: 10px;
		color: #fff!important;
		font-size: 34px;
		line-height: 1.8;
		bottom: 20%;
		position: absolute;
		cursor: pointer;
	}
	.coll-im{
		margin-top: 20px;
		margin-left: 25px;
		width: 90%;
		height: auto;
		padding: 10px 0px 10px 0px;
		text-align: left;
	}
	.cl-im{
		width: 100%;
		height: auto;
		object-fit: cover;
		cursor: pointer;
	}
	.contact-detail{
		width: 90%;
		height: auto;
		margin: 50px 0px 50px 0px;
		padding: 10px 0px 50px 0px;
		background-color: #fff!important;
	}
	.cont-im{
		width: 80%;
		height: auto;
		text-align: left;
		padding: 5px;
		margin-left: 100px;
	}
}
@media (min-width: 1200px) {	
	.header{
		width: 100%;
		height: 53px;
		background-color: #fff!important;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	}
	.navbar-brand{
		font-family: "Lato", sans-serif;
		color: #000!important;
		font-size: 15px;
		line-height: 1.5;
		letter-spacing: 4px;
		padding-top: 8px !important;
		padding-right: 16px !important;
		padding-bottom: 8px !important;
		padding-left: 16px !important;
		
	}
	.nav-link{
		/*color: #4b4b4b;*/
		font-family: "Lato", sans-serif;
		color: #000!important;
		font-size: 15px;
		line-height: 1.5;
		letter-spacing: 0px;
		text-transform: capitalize;	
	}
	.nav-item{
		padding-top: 8px !important;
		padding-right: 16px !important;
		padding-bottom: 8px !important;
		padding-left: 16px !important;
	}
	.navbar-brand:hover{
		background-color: #ccc !important;
		color: #000!important;
	}
	.nav-link:hover{
		background-color: #ccc !important;
		color: #000!important;
	}
	.header-detail{
		text-align: center;
		width: 100%;
		height: auto;
		bottom: 50%;
		position: absolute;
		cursor: pointer;
	}
	.sec-text1{
		width: 90%;
		height: auto;
		padding: 20px 5px 20px 5px;
		text-align: right;
	}
	.port-txt{
		width: 100%;
		height: auto;
		text-align: center;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		padding: 12px 24px 12px 24px;
		letter-spacing: 10px;
		color: #fbfaed!important;
		font-size: 34px;
		line-height: 1.8;
		bottom: 50%;
		position: absolute;
		cursor: pointer;
	}
	.con-txt{
		width: 100%;
		height: auto;
		text-align: center;
		font-family: "Lato", sans-serif;
		font-weight: 400;
		padding: 12px 24px 12px 24px;
		letter-spacing: 10px;
		color: #fff!important;
		font-size: 34px;
		line-height: 1.8;
		bottom: 20%;
		position: absolute;
		cursor: pointer;
	}
	.coll-im{
		margin-top: 20px;
		margin-left: 25px;
		width: 90%;
		height: auto;
		padding: 10px 0px 10px 0px;
		text-align: left;
	}
	.cl-im{
		width: 100%;
		height: auto;
		object-fit: cover;
		cursor: pointer;
	}
	.contact-detail{
		width: 90%;
		height: auto;
		margin: 50px 0px 50px 0px;
		padding: 10px 0px 50px 0px;
		background-color: #fff!important;
	}
	.cont-im{
		width: 80%;
		height: auto;
		text-align: left;
		padding: 5px;
		margin-left: 100px;
	}

}